<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://vegagroup.com.tn">
                        SELLER CENTER
                    </a>
                </li>
                <li>
                    <a href="http://vegagroup.com.tn">
                        About Us
                    </a>
                </li>
                
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="http://vegagroup.com.tn/" target="_blank">VEGA NET</a> for a better web.
        </div>
    </div>
</footer>
