<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <br>
        <br>
       <br>
  
       <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title ">Liste de tous les fournisseurs </h4>
  
        </div>
       
            <div class="card-body">
        <div >
        
          <div class="form">
            <mat-form-field floatPlaceholder="never" color="accent">
              <input matInput #filter placeholder="Filter issues">
            </mat-form-field>
           
          </div>
        
          <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
            ng update @angular/cli @angular/core
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
        
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
              <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="rs">
              <mat-header-cell *matHeaderCellDef mat-sort-header>rs    </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.rs}}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="rcs">
              <mat-header-cell *matHeaderCellDef mat-sort-header>rcs</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.rcs}}</mat-cell>
              
            </ng-container>
            
            <ng-container matColumnDef="billingaddress">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Adresse de facturation</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.billingaddress}}</mat-cell>
                
            </ng-container>

            <ng-container matColumnDef="logo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Logo de la compagnie</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.logo}}</mat-cell>
                
            </ng-container>

            <ng-container matColumnDef="vatcode">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Vatcode</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.vatcode}}</mat-cell>
              
          </ng-container>

          <ng-container matColumnDef="isdeleted">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Isdeleted</mat-header-cell>
            <mat-cell *matCellDef="let row"> 
              <div *ngIf="row.isdeleted==1">
               <h6 style="color: red">Oui</h6>
              </div>

              <div *ngIf="row.isdeleted==0">
                Non
              </div>
            </mat-cell>
            
        </ng-container>


           
            <!-- actions -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="addNew()">
                  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
              </mat-header-cell>
        
              <mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.name, row.rs,row.rcs,row.vatcode,row.logo,row.billingaddress)">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
  
                <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.name, row.rs, row.rcs,row.vatcode,row.logo,row.billingaddress,row.isdeleted)">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
           </mat-cell>
            </ng-container>
  
          
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        
        
          <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
            No results
          </div>
        
          <mat-paginator #paginator
                         [length]="dataSource.filteredData.length"
                         [pageIndex]="0"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
          
        </div>
        </div>
        </div>
        